<body onload = "test()">
<div id="anthem" class="container text-center">
  <h1> <strong> Class Anthem </strong></h1>
  <iframe id="link" width="560" height="315" frameborder="0" src="https://www.youtube.com/embed/videoseries?list=PLl3jogvfmAWWzH3OFxVvVLwZUuRzD2GRF&index=3&autoplay=1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <h3> <strong> Anthem Background </strong></h3>
  <P> We Are the Champions by Queen is the class anthem for the Spring 2019 class of CIS 486. The anthem should be played at 4:45 every Tuesday and Thursday to signal the end of class. The song was originally picked by Dr. Cumbie.
  </div>
  
<!--
<script>
function test() {
  var min = 1;
  var max = 6;
  var num = Math.floor(Math.random() * (max - min + 1)) + min;
  Prints out a string with a random index between 1 and 6 if we can turn this string into the link on the youtube src then it will play randomly
  document.getElementById("test").innerHTML = "https://www.youtube.com/embed/videoseries?list=PLl3jogvfmAWWzH3OFxVvVLwZUuRzD2GRF&index=" + num; 
  //attempt 1 at getting this to work... not quite there yet
  document.getElementById("link").setAttribute("src", "https://www.youtube.com/embed/videoseries?list=PLl3jogvfmAWWzH3OFxVvVLwZUuRzD2GRF&index=3");
}
</script>
-->
</body> 
