<div class="accordion">
  <div class="accordion-header">Client Questions</div>
  <div class="accordion-content">This box contains the Google Doc with the Client Questions template.  <a href="https://docs.google.com/document/d/1oDidI80kJHpLB3sUV3mjOOesU5-QYmfdPQ8E5nGoil4/edit?usp=sharing" target="_blank"> Please click here to view the document.</a> </div>
  <div class="accordion-header">Work Experience</div>
  <div class="accordion-content">Et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</div>
  <div class="accordion-header">Education</div>
  <div class="accordion-content">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.</div>
</div>
<script src="js/index.js"></script>
