<link rel="stylesheet" type="text/css" href="MTTstyle.css">
  <div class="container">
  

  
	<div class="row">
		<div class="heading-title text-center">
			<h3 class="text-uppercase">Meet the Team! </h3>
			<p class="p-top-30 half-txt">Something something scrum 486, short about the team and what not WORDS WORDS WORDS dsdfdsfsf dsf sdf sdf sdfs df sdf sd f</p>
		</div>

		<div class="row">
			<div class="col-md-4 col-sm-4">
				<div class="team-member">
					<div class="team-img">
      <img id='profileImage' class='img-responsive profileImage' ng-src='{{person.profilePic}}'>
					</div>
					<div class="team-hover">
						<div class="desk">

							<p> <br> <br>
								<ul>
									<li>{{person.firstName}} {{person.lastName}}</li>

									<li> Type 7 - Enthusiast </li>
									<li> Computer Information Systems </li>
									<li> Hometown: Albertille, AL</li>

									<li> LINK TO RESUME </li>
								</ul>

							</p>
							<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal1">About...</button>

						</div>
						<div class="s-link">

							<a href="#"><i class="fa fa-github"></i></a>
							<a href="#"><i class="fa fa-codepen"></i></a>

							<a href="#"><i class="fa fa-twitter"></i></a>

						</div>
					</div>
				</div>
				<div class="team-title">
					<h5>Thomas Kenney</h5>
					<span>Computer Information Systems</span>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="team-member">
					<div class="team-img">
						<img src="img/cumbie.jpg" alt="team member" class="img-responsive">
					</div>
					<div class="team-hover">
						<div class="desk">
							<h4>Hello World</h4>
							<p>I love to introduce myself as a hardcore Web Designer.</p>
							<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal2">About...</button>
						</div>
						<div class="s-link">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
						</div>
					</div>
				</div>
				<div class="team-title">
					<h5>Franklin Harbet</h5>
					<span>Computer Information Systems</span>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="team-member">
					<div class="team-img">
						<img src="img/cumbie.jpg" alt="team member" class="img-responsive">
					</div>
					<div class="team-hover">
						<div class="desk">
							<h4>I love to design</h4>
							<p>I love to introduce myself as a hardcore Web Designer.</p>
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal3">About...</button>


						</div>
						
						<div class="s-link">
						
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-google-plus"></i></a>
		
						</div>
						
					</div>
					
				</div>
				<div class="team-title">
					<h5>Linda Anderson</h5>
					<span>Computer Information Systems</span>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4 col-sm-4">
				<div class="team-member">
					<div class="team-img">
						<img src="img/cumbie.jpg" alt="team member" class="img-responsive">
					</div>
					<div class="team-hover">
						<div class="desk">

							<p> <br> <br>
								<ul>
									<li>Thomas Kenney</li>

									<li> Type 7 - Enthusiast </li>
									<li> Computer Information Systems </li>
									<li> Hometown: Albertille, AL</li>

									<li> LINK TO RESUME </li>
								</ul>

							</p>
							<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal4">About...</button>
						</div>
						<div class="s-link">

							<a href="#"><i class="fa fa-github"></i></a>
							<a href="#"><i class="fa fa-codepen"></i></a>

							<a href="#"><i class="fa fa-twitter"></i></a>

						</div>
					</div>
				</div>
				<div class="team-title">
					<h5>Martin Smith</h5>
					<span>Computer Information Systems</span>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="team-member">
					<div class="team-img">
						<img src="img/cumbie.jpg" alt="team member" class="img-responsive">
					</div>
					<div class="team-hover">
						<div class="desk">
							<h4>Hello World</h4>
							<p>I love to introduce myself as a hardcore Web Designer.</p>
							<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal5">About...</button>
						</div>
						<div class="s-link">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
						</div>
					</div>
				</div>
				<div class="team-title">
					<h5>Franklin Harbet</h5>
					<span>Computer Information Systems</span>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="team-member">
					<div class="team-img">
						<img src="img/cumbie.jpg" alt="team member" class="img-responsive">
					</div>
					<div class="team-hover">
						<div class="desk">
							<h4>I love to design</h4>
							<p>I love to introduce myself as a hardcore Web Designer.</p>
							<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal6">About...</button>
						</div>
						<div class="s-link">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-google-plus"></i></a>
						</div>
					</div>
				</div>
				<div class="team-title">
					<h5>Linda Anderson</h5>
					<span>Computer Information Systems</span>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4 col-sm-4">
				<div class="team-member">
					<div class="team-img">
						<img src="img/cumbie.jpg" alt="team member" class="img-responsive">
					</div>
					<div class="team-hover">
						<div class="desk">

							<p> <br> <br>
								<ul>
									<li>Thomas Kenney</li>

									<li> Type 7 - Enthusiast </li>
									<li> Computer Information Systems </li>
									<li> Hometown: Albertille, AL</li>

									<li> LINK TO RESUME </li>
								</ul>

							</p>
							<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal7">About...</button>
						</div>
						<div class="s-link">

							<a href="#"><i class="fa fa-github"></i></a>
							<a href="#"><i class="fa fa-codepen"></i></a>

							<a href="#"><i class="fa fa-twitter"></i></a>

						</div>
					</div>
				</div>
				<div class="team-title">
					<h5>Martin Smith</h5>
					<span>Computer Information Systems</span>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="team-member">
					<div class="team-img">
						<img src="img/cumbie.jpg" alt="team member" class="img-responsive">
					</div>
					<div class="team-hover">
						<div class="desk">
							<h4>Hello World</h4>
							<p>I love to introduce myself as a hardcore Web Designer.</p>
							<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal8">About...</button>
						</div>
						<div class="s-link">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
						</div>
					</div>
				</div>
				<div class="team-title">
					<h5>Franklin Harbet</h5>
					<span>Computer Information Systems</span>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="team-member">
					<div class="team-img">
						<img src="img/cumbie.jpg" alt="team member" class="img-responsive">
					</div>
					<div class="team-hover">
						<div class="desk">
							<h4>I love to design</h4>
							<p>I love to introduce myself as a hardcore Web Designer.</p>
							<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal9">About...</button>
						</div>
						<div class="s-link">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-google-plus"></i></a>
						</div>
					</div>
				</div>
				<div class="team-title">
					<h5>Linda Anderson</h5>
					<span>Computer Information Systems</span>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4 col-sm-4">
				<div class="team-member">
					<div class="team-img">
						<img src="img/cumbie.jpg" alt="team member" class="img-responsive">
					</div>
					<div class="team-hover">
						<div class="desk">

							<p> <br> <br>
								<ul>
									<li>Thomas Kenney</li>

									<li> Type 7 - Enthusiast </li>
									<li> Computer Information Systems </li>
									<li> Hometown: Albertille, AL</li>

									<li> LINK TO RESUME </li>
								</ul>

							</p>
							<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal10">About...</button>
						</div>
						<div class="s-link">

							<a href="#"><i class="fa fa-github"></i></a>
							<a href="#"><i class="fa fa-codepen"></i></a>

							<a href="#"><i class="fa fa-twitter"></i></a>

						</div>
					</div>
				</div>
				<div class="team-title">
					<h5>Martin Smith</h5>
					<span>Computer Information Systems</span>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="team-member">
					<div class="team-img">
						<img src="img/cumbie.jpg" alt="team member" class="img-responsive">
					</div>
					<div class="team-hover">
						<div class="desk">
							<h4>Hello World</h4>
							<p>I love to introduce myself as a hardcore Web Designer.</p>
							<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal11">About...</button>
						</div>
						<div class="s-link">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
						</div>
					</div>
				</div>
				<div class="team-title">
					<h5>Franklin Harbet</h5>
					<span>Computer Information Systems</span>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="team-member">
					<div class="team-img">
						<img src="img/cumbie.jpg" alt="team member" class="img-responsive">
					</div>
					<div class="team-hover">
						<div class="desk">
							<h4>I love to design</h4>
							<p>I love to introduce myself as a hardcore Web Designer.</p>
							<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal12">About...</button>
						</div>
						<div class="s-link">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-google-plus"></i></a>
						</div>
					</div>
				</div>
				<div class="team-title">
					<h5>Linda Anderson</h5>
					<span>Computer Information Systems</span>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4 col-sm-4">
				<div class="team-member">
					<div class="team-img">
						<img src="img/cumbie.jpg" alt="team member" class="img-responsive">
					</div>
					<div class="team-hover">
						<div class="desk">

							<p> <br> <br>
								<ul>
									<li>Thomas Kenney</li>

									<li> Type 7 - Enthusiast </li>
									<li> Computer Information Systems </li>
									<li> Hometown: Albertille, AL</li>

									<li> LINK TO RESUME </li>
								</ul>

							</p>
							<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal13">About...</button>
						</div>
						<div class="s-link">

							<a href="#"><i class="fa fa-github"></i></a>
							<a href="#"><i class="fa fa-codepen"></i></a>

							<a href="#"><i class="fa fa-twitter"></i></a>

						</div>
					</div>
				</div>
				<div class="team-title">
					<h5>Martin Smith</h5>
					<span>Computer Information Systems</span>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="team-member">
					<div class="team-img">
						<img src="img/cumbie.jpg" alt="team member" class="img-responsive">
					</div>
					<div class="team-hover">
						<div class="desk">
							<h4>Hello World</h4>
							<p>I love to introduce myself as a hardcore Web Designer.</p>
							<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal14">About...</button>
						</div>
						<div class="s-link">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
						</div>
					</div>
				</div>
				<div class="team-title">
					<h5>Franklin Harbet</h5>
					<span>Computer Information Systems</span>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="team-member">
					<div class="team-img">
						<img src="img/cumbie.jpg" alt="team member" class="img-responsive">
					</div>
					<div class="team-hover">
						<div class="desk">
							<h4>I love to design</h4>
							<p>I love to introduce myself as a hardcore Web Designer.</p>
							<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal15">About...</button>
						</div>
						<div class="s-link">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-google-plus"></i></a>
						</div>
					</div>
				</div>
				<div class="team-title">
					<h5>Linda Anderson</h5>
					<span>Computer Information Systems</span>
				</div>
			</div>
		</div>

	</div>
<div>	
	  
<div id="myModal1" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">NAME</h4>
      </div>
      <div class="modal-body">
        <p>INFO1</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

	  
<div id="myModal2" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">NAME</h4>
      </div>
      <div class="modal-body">
        <p>INFO2</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
	  
<div id="myModal3" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">NAME</h4>
      </div>
      <div class="modal-body">
        <p>INFO3</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
	  
<div id="myModal4" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">NAME</h4>
      </div>
      <div class="modal-body">
        <p>INFO4</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
	  
<div id="myModal5" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">NAME</h4>
      </div>
      <div class="modal-body">
        <p>INFO5</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
	  
<div id="myModal6" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">NAME</h4>
      </div>
      <div class="modal-body">
        <p>INFO6</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

	  
<div id="myModal7" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">NAME</h4>
      </div>
      <div class="modal-body">
        <p>INFO7</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
	  
<div id="myModal8" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">NAME</h4>
      </div>
      <div class="modal-body">
        <p>INFO8</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
	  
<div id="myModal9" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">NAME</h4>
      </div>
      <div class="modal-body">
        <p>INFO9</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
	  
<div id="myModal10" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">NAME</h4>
      </div>
      <div class="modal-body">
        <p>INFO10</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
	  
<div id="myModal11" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">NAME</h4>
      </div>
      <div class="modal-body">
        <p>INFO11</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
	  
<div id="myModal12" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">NAME</h4>
      </div>
      <div class="modal-body">
        <p>INFO12</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
	  
<div id="myModal13" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">NAME</h4>
      </div>
      <div class="modal-body">
        <p>INFO13</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
	  
<div id="myModal14" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">NAME</h4>
      </div>
      <div class="modal-body">
        <p>INFO14</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>	  
<div id="myModal15" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">NAME</h4>
      </div>
      <div class="modal-body">
        <p>INFO15</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>	  


</div>


</div>

